html, body, h1, h2{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* color: #333333; */
	background-color: #2f3129;
}
h1, h2, h3, h4, h5 {
	font-variant: small-caps;
}
.content{
	width: 100%;
	padding: 0 1em;
	box-sizing: border-box;
}
.toolbar, .header {
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	color: white;
}
.toolbar button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	float: right;
}
.run-button{
	background-color: #4CAF50;
}
.clear-button {
	background: none;
}

.toolbar::after {
	content: "";
	clear: both;
	display: block;
}

#code {
	width: 50%;
	height: 30rem;
	font-family: monospace;
	float: left;
	border: 2px solid #404040;
	border-right: none;
	box-sizing: border-box;
}

#output{
    height: 30rem;
    width: 50%;
    overflow: auto;
	border: 2px solid #404040;
    border-left: 8px solid #404040;
    box-sizing: border-box;
    color: white;
    background-color: #272822;
    padding: 0.5em;
}

#output p{
	margin: 0;
	font-family: monospace;
}
#output p.error{
	color: #ff9d00;
	font-weight: bold;
}

.ace_gutter-cell {
	background-image: none !important;
}